#system-message dd.message ul{
   padding-left:40px !important;
}
.icon{
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../k2/images/admin/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.pencil {
  background-position: 0 -72px;
}

.trash {
  background-position: -456px 0;
}

.camera {
  background-position: -120px -48px;
}